<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="active">
                        <h1><i class="fas fa-user-tie"></i> Meu Colaborador</h1>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<p style="color: green"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-9"> 
      <div class="right_col mt-3" role="main">
        <div class="row">

        <div class="col-md-3">
          <% if @employee.delivery %>
            <%= image_tag "moto.jpg", class: "img-fluid rounded", style: "max-width: 100%;" %>
          <% elsif @employee&.profile_picture&.attached? %>
            <%= image_tag @employee.profile_picture, class: "img-fluid rounded", style: "max-width: 100%;" %>
          <% else %>
            <%= image_tag "user.jpg", class: "img-fluid rounded", style: "max-width: 100%;" %>
          <% end %>
        </div>
        <div class="col-md-9">

        <p>
          <% if @employee.delivery %>
            <i class="fas fa-motorcycle" style="font-size: 24px; color: #007bff;"></i>
            <span style="font-size: 18px;"><strong>Entregador Delivery</strong></span>
          <% else %>
            <i class="fa fa-user-tie" style="font-size: 24px; color: #007bff;"></i>
            <span style="font-size: 18px;"><strong>Usuário do Locker</strong></span>
          <% end %>
        </p>
        
        <% if @employee.delivery %>
            <p>
              <strong>Nome:</strong>
              <%= @employee.name %> <%= @employee.lastname %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= @employee.email %>
            </p>
          
        <% else %>
            <p>
              <strong>Nome:</strong>
              <%= @employee.name %> <%= @employee.lastname %>
            </p>

            <p>
              <strong>Telefone:</strong>
              <%= @employee.phone %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= @employee.email %>
            </p>

            <p>
              <strong>Código Pin:</strong>
              <%= @employee.PIN %>
            </p>

            <p>
              <strong>Senha Locker:</strong>
                <% if @employee.pswdSmartlocker.present? %>
                  <%= '*' * @employee.pswdSmartlocker.length %>
                <% else %>
                  N/A
                <% end %>            
            </p>

            <p>
              <strong>ID Card:</strong>
              <% if @employee.cardRFID.present? %>
                <%= '*' * @employee.cardRFID.length %>
              <% else %>
                N/A
              <% end %>
            </p>

            <p>
              <strong>CPF:</strong>
              <%= @employee.cpf %>
            </p>

            <p>
              <strong>Cargo:</strong>
              <%= @employee.function %>
            </p>

            <p>
              <strong>Empresa:</strong>
              <%= @employee.companyID %>
            </p>
                  
            <p>
              <strong>Status:</strong>
              <button class="toggle-status-btn btn <%= @employee.status == 'bloqueado' ? 'btn-danger' : 'btn-primary' %>" data-employee-id="<%= @employee.id %>">
                <i class="lock-icon <%= @employee.status == 'bloqueado' ? 'fa fa-lock' : 'fa fa-unlock' %>"></i>
                <%= @employee.status %>
              </button>
            </p>
          <%end%>
            <% if !@employee.enabled %>
             <div class="alert alert-warning" role="alert">
              <strong>Horário de trabalho não habilitado!</strong>
             </div>
              <% else %>  
            <div class="">
                <p><strong>Dias de Trabalho</strong></p>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Dia da Semana</th>
                      <th>Horário de Início</th>
                      <th>Horário de Encerramento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @employee.workdays.each do |workday| %>
                      <tr>
                        <td>Segunda-feira</td>
                        <td><%= workday.monday ? workday.start.strftime('%H:%M') : "Não trabalha" %></td>
                        <td><%= workday.monday ? workday.end.strftime('%H:%M') : "Não trabalha" %></td>
                      </tr>
                      <tr>
                        <td>Terça-feira</td>
                        <td><%= workday.tuesday ? workday.start.strftime('%H:%M') : "Não trabalha" %></td>
                        <td><%= workday.tuesday ? workday.end.strftime('%H:%M') : "Não trabalha" %></td>
                      </tr>
                      <tr>
                        <td>Quarta-feira</td>
                        <td><%= workday.wednesday ? workday.start.strftime('%H:%M') : "Não trabalha" %></td>
                        <td><%= workday.wednesday ? workday.end.strftime('%H:%M') : "Não trabalha" %></td>
                      </tr>
                      <tr>
                        <td>Quinta-feira</td>
                        <td><%= workday.thursday ? workday.start.strftime('%H:%M') : "Não trabalha" %></td>
                        <td><%= workday.thursday ? workday.end.strftime('%H:%M') : "Não trabalha" %></td>
                      </tr>
                      <tr>
                        <td>Sexta-feira</td>
                        <td><%= workday.friday ? workday.start.strftime('%H:%M') : "Não trabalha" %></td>
                        <td><%= workday.friday ? workday.end.strftime('%H:%M') : "Não trabalha" %></td>
                      </tr>
                      <tr>
                        <td>Sábado</td>
                        <td><%= workday.saturday ? workday.start.strftime('%H:%M') : "Não trabalha" %></td>
                        <td><%= workday.saturday ? workday.end.strftime('%H:%M') : "Não trabalha" %></td>
                      </tr>
                      <tr>
                        <td>Domingo</td>
                        <td><%= workday.sunday ? workday.start.strftime('%H:%M') : "Não trabalha" %></td>
                        <td><%= workday.sunday ? workday.end.strftime('%H:%M') : "Não trabalha" %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
    
              <div class="d-flex align-items-center flex-wrap gap-2">
                <%= link_to(edit_employee_path(@employee), class: "btn btn-primary") do %>
                  <i class="fas fa-edit"></i> Editar
                <% end %>

                <%= link_to(employees_path, class: "btn btn-secondary") do %>
                  <i class="fas fa-arrow-left"></i> Voltar
                <% end %>

                <%= button_to(@employee, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger") do %>
                  <i class="fas fa-trash-alt"></i> Excluir
                <% end %>

                <button id="reset-pin-btn" class="btn btn-success">
                  <i class="fas fa-key"></i> Resetar PIN
                </button>

                <%= button_to send_sms_notification_employee_path(@employee), 
                              method: :post, 
                              class: 'btn btn-warning text-white', 
                              data: { confirm: 'Tem certeza que deseja enviar o SMS?' } do %>
                  <i class="fas fa-bell"></i> Enviar Notificação
                <% end %>
              </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  $(document).ready(function() {
    // Adicione um manipulador de eventos para todos os elementos com a classe "toggle-status-btn"
    $('.toggle-status-btn').on('click', function() {
      var clickedButton = $(this);
      var employeeId = clickedButton.data('employee-id');
      var statusText = $('.status-text[data-employee-id="' + employeeId + '"]');

      $.ajax({
        url: '/employees/' + employeeId + '/toggle_and_save_status',
        method: 'PATCH',
        success: function(data) {
          statusText.text(data.status);

          var lockIcon = clickedButton.find('.lock-icon');
          
          lockIcon.removeClass('fa-lock fa-unlock');
          
          lockIcon.addClass(data.status == 'bloqueado' ? 'fa-lock' : 'fa-unlock');

          clickedButton.removeClass('btn-danger btn-primary');
          clickedButton.addClass(data.status == 'bloqueado' ? 'btn-danger' : 'btn-primary');

          clickedButton.html('<i class="' + lockIcon.attr('class') + '"></i> ' + data.status);
        },
        error: function(error) {
          console.error('Erro ao alternar e salvar o status:', error);
        }
      });
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('reset-pin-btn').addEventListener('click', function() {
      // Chamar a ação AJAX para resetar PIN, enviar SMS e atualizar no banco de dados
      resetPinAndSendSMS('<%= @employee.phone %>');
    });

    function resetPinAndSendSMS(phone) {
      // Adicione lógica AJAX aqui
      $.ajax({
        type: 'PUT',
        url: '<%= reset_pin_employee_path(@employee) %>',
        data: { phone: phone },
        success: function(response) {
          alert(response.message); // Exiba uma mensagem de sucesso
        },
        error: function() {
          alert('Erro ao resetar o PIN e enviar por SMS.');
        }
      });
    }
  });
</script>