<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row align-items-center mb-3">
      <div class="col-lg-6">
        <h1>
          <i class="fas fa-history"></i> Histórico
        </h1>
      </div>
      <div class="col-lg-6 text-right">
        <!-- Botões lado a lado -->
        <div class="btn-group" role="group" aria-label="Histórico Botões">
          <%= link_to entrada_key_usages_path, class: "btn btn-primary" do %>
            <i class="fas fa-list-alt"></i> Movimentações
          <% end %>

           <%= link_to key_usages_transactions_path, class: "btn btn-secondary" do %>
            <i class="fas fa-exchange-alt"></i> Transações
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="logs_table_container"> <!-- Esse id é importante para o JS -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="right_col mt-3" role="main">
          <div class="row">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th><i class="fas fa-user"></i> Colaborador</th>
                    <th><i class="fas fa-calendar-alt"></i> Data e Hora</th>
                    <th><i class="fas fa-clipboard-check"></i> Ação</th>
                    <th><i class="fas fa-cogs"></i> Objeto</th>
                    <th><i class="fas fa-box-open"></i> Nome do Locker</th>
                    <th><i class="fas fa-lock"></i> Serial do Locker</th>
                    <th><i class="fas fa-comment-dots"></i> Comentários</th>
                    <th><i class="fas fa-exclamation-triangle"></i> Alerta</th>
                  </tr>
                </thead>
                <tbody>
                  <% @logs_with_alert.each do |log_info| %>
                    <tr>
                      <!-- Colaborador -->
                      <td>
                        <i class="fas fa-user text-primary"></i>
                        <%= log_info[:log].employee.name %> <%= log_info[:log].employee.lastname %>
                      </td>

                      <!-- Data e Hora -->
                      <td>
                        <i class="fas fa-calendar-alt text-info"></i>
                        <%= log_info[:log].timestamp.strftime('%d/%m/%Y %H:%M:%S') %>
                      </td>

                      <!-- Ação -->
                      <td>
                        <% case log_info[:log].action %>
                        <% when 'retirada' %>
                          <i class="fas fa-sign-out-alt text-warning"></i> Retirada
                        <% when 'devolução' %>
                          <i class="fas fa-undo text-success"></i> Devolução
                        <% else %>
                          <i class="fas fa-question-circle text-secondary"></i> <%= log_info[:log].action %>
                        <% end %>
                      </td>

                      <!-- Objeto -->
                      <td>
                        <i class="fas fa-cogs text-dark"></i>
                        <%= log_info[:log].locker_object %>
                      </td>

                      <!-- Nome do Locker -->
                      <td>
                        <i class="fas fa-box-open text-primary"></i>
                        <%= log_info[:log].locker_name %>
                      </td>

                      <!-- Serial do Locker -->
                      <td>
                        <i class="fas fa-lock text-warning"></i>
                        <%= log_info[:log].locker_serial %>
                      </td>

                      <!-- Comentários -->
                      <td>
                        <i class="fas fa-comment-dots text-secondary"></i>
                        <%= log_info[:log].comments %>
                      </td>

                      <!-- Alerta / Status -->
                      <td>
                        <% if log_info[:log].action == 'retirada' %>
                          <% if log_info[:alert] %>
                            <button class="btn btn-danger">
                              <i class="fas fa-exclamation-triangle"></i> Objeto Retirado
                            </button>
                          <% end %>
                        <% elsif log_info[:log].action == 'devolução' %>
                          <button class="btn btn-success">
                            <i class="fas fa-check-circle"></i> Objeto Devolvido
                          </button>
                        <% else %>
                          <i class="fas fa-info-circle"></i> <%= log_info[:log].action %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-3 d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <%= will_paginate @logs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </ul>
  </nav>
</div>

<script>
  function loadLogs() {
    $.ajax({
      url: "<%= entrada_key_usages_path %>",
      dataType: "html",
      success: function(data) {
        var html = $('<div>').html(data);
        var innerContent = html.find('#logs_table_container').html();
        $('#logs_table_container').html(innerContent);
      }
    });
  }

  $(document).ready(function() {
    loadLogs(); // carrega logo que abre a página
    setInterval(loadLogs, 5000); // atualiza a cada 5 segundos
  });
</script>