<div id="employee_details">
  <h4>Destinatário encontrado</h4>
  <p><strong>Nome:</strong> <%= @employee.name %></p>
  <p><strong>Email:</strong> <%= @employee.email %></p>
  <p><strong>Telefone:</strong> <%= @employee.phone %></p>

  <!-- Formulário de entrega -->
  <%= form_with model: @delivery, url: deliveries_path, method: :post, local: true, html: { multipart: true } do |f| %>

    <div class="form-group mb-3">
      <%= f.label :package_description, "Detalhes do Pacote" %>
      <%= f.text_area :package_description, class: "form-control", placeholder: "Digite detalhes do pacote" %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :full_address, "Número do Locker" %>
      <%= f.text_field :full_address, class: "form-control", placeholder: "Número do locker" %>
    </div>

    <!-- Campo para upload da imagem do entregador -->
    <div class="form-group mb-3">
      <%= f.label :imageEntregador, "Foto do Entregador" %>
      <%= f.file_field :imageEntregador, class: "form-control" %>
    </div>

    <!-- Campo para upload da imagem da nota fiscal -->
    <div class="form-group mb-3">
      <%= f.label :imageInvoice, "Imagem da Nota Fiscal" %>
      <%= f.file_field :imageInvoice, class: "form-control" %>
    </div>

    <!-- Campo para upload da imagem do produto -->
    <div class="form-group mb-3">
      <%= f.label :imageProduct, "Foto do Produto" %>
      <%= f.file_field :imageProduct, class: "form-control" %>
    </div>

    <%= f.submit "Confirmar Entrega", class: "btn btn-success" %>
  <% end %>
</div>


<script>
$(document).ready(function() {
  $("#verify_employee").click(function(event) {
    event.preventDefault(); // Evita envio padrão do formulário

    $.ajax({
      url: "<%= search_employee_by_phone_or_email_deliveries_path %>",
      method: "POST",
      data: { query: $("#employee_search").val() },
      success: function(data) {
        // Insere o conteúdo retornado pela requisição no passo 2 do formulário
        $("#step2").html(data);  
        $("#step1").hide();
        $("#step2").show();
      },
      error: function() {
        $("#employee_error").text("Funcionário não encontrado.").show();
      }
    });
  });
});
</script>