<div id="employee_details">
  <h4>Destinatário encontrado</h4>
  <p><strong>Nome:</strong> <%= @employee.name %></p>
  <p><strong>Email:</strong> <%= @employee.email %></p>
  <p><strong>Telefone:</strong> <%= @employee.phone %></p>

  <%= form_with model: product, url: products_path, method: :post, local: true, html: { multipart: true } do |form| %>
    <% if product.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
  
        <ul>
          <% product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group mb-3">
      <%= form.label :package_description, style: "display: block" %>
      <%= form.text_area :package_description, class: "form-control", placeholder: "Digite detalhes do pacote" %>
    </div>
  
    <div class="form-group mb-3">
      <%= form.label :locker_code, style: "display: block" %>
      <%= form.text_field :locker_code, class: "form-control", placeholder: "Número do locker" %>
    </div>
  
    <div class="form-group mb-3">
      <%= form.label :pin, style: "display: block" %>
      <%= form.text_field :pin, class: "form-control", placeholder: "Número do locker" %>
    </div>
  
    <div class="form-group mb-3">
      <%= form.label :full_address, style: "display: block" %>
      <%= form.text_field :full_address, class: "form-control", placeholder: "Número do locker" %>
    </div>
  
    <div class="form-group mb-3">
      <%= form.label :imageEntregador, style: "display: block" %>
      <%= form.file_field :imageEntregador, class: "form-control" %>
    </div>
  
    <div class="form-group mb-3">
      <%= form.label :imageInvoice, style: "display: block" %>
      <%= form.file_field :imageInvoice, class: "form-control" %>
    </div>
  
    <div class="form-group mb-3">
      <%= form.label :imageProduct, style: "display: block" %>
      <%= form.file_field :imageProduct, class: "form-control" %>
    </div>
  
      <%= form.submit "Confirmar Entrega", class: "btn btn-success" %>
  <% end %>

<script>
$(document).on("turbo:load", function() {
  $("#verify_employee").click(function(event) {
    event.preventDefault();

    $.ajax({
      url: "/deliveries/search_employee_by_phone_or_email", // Certifique-se de que esta rota existe!
      method: "POST",
      data: { query: $("#employee_search").val() },
      success: function(data) {
        $("#step2").html(data);
        $("#step1").hide();
        $("#step2").show();
      },
      error: function() {
        $("#employee_error").text("Funcionário não encontrado.").show();
      }
    });
  });
});
</script>