<style>
.panel-custom {
  background-color: #6c757d;
  color: white;
  text-decoration: none;
}

.panel-custom:hover {
  background-color: #6c757d !important; 
  color: white !important; 
}

.panel-custom .panel-heading {
  background-color: #495057;
}

.custom-icon {
  color: #f8f9fa;
}
</style>

<div class="wrapper d-flex align-items-stretch">
  <div id="content" class="p-4 p-md-5">
    <div id="page-wrapper">
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li class="active">
                <h1><i class="fas fa-tasks"></i> Dashboard</h1>
              </li>
            </ol>
          </div>
        </div> 
        
        <!-- Adicionando row para garantir que as colunas se alinhem corretamente -->
        <div class="row justify-content-center">
          
          <div class="col-lg-3 col-md-6 mb-4">
            <%= link_to keylockers_path, class: 'panel-primary' do %>
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-box fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <% if current_user.admin? %>
                      <div class="huge"><%= @admin_lockers_count %></div>
                      <div>Total de Lockers</div>
                    <% else %>
                      <div class="huge"><%= @user_keylockers_count %></div>
                      <div>Meus Lockers</div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %> <!-- Fechamento do bloco link_to -->
          </div>

          <% if current_user.admin? %>
            <div class="col-lg-3 col-md-6 mb-4">
              <%= link_to manager_users_index_path, class: 'panel-green' do %>
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-user-tie fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge"><%= @admin_users_count %></div>
                      <div>Administradores do Sistema</div>
                    </div>
                  </div>
                </div>
              <% end %> <!-- Fechamento do bloco link_to -->
            </div>
          <% end %>

          <div class="col-lg-3 col-md-6 mb-4">
            <%= link_to employees_path, class: 'panel-yellow' do %>
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-user fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <% if current_user.admin? %>
                      <div class="huge"><%= @admin_employees_count %></div>
                    <% else %>
                      <div class="huge"><%= @user_employees_count %></div>
                    <% end %>
                    <div>Meus Colaboradores</div>
                  </div>
                </div>
              </div>
            <% end %> <!-- Fechamento do bloco link_to -->
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <%= link_to keylockers_path, class: 'panel-custom' do %>
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-key fa-5x custom-icon"></i> <!-- Ãcone de chave com cor personalizada -->
                  </div>
                  <div class="col-xs-9 text-right">
                    <% if current_user.admin? %>
                      <div class="huge"><%= @admin_lockers_total_qtd %></div>
                      <div>Total de Nichos</div>
                    <% else %>
                      <div class="huge"><%= @user_lockers_total_qtd %></div>
                      <div>Meus Nichos</div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %> <!-- Fechamento do bloco link_to -->
          </div>

         

        </div> <!-- Fechamento da row -->
      </div> <!-- Fechamento da container-fluid -->
    </div> <!-- Fechamento da page-wrapper -->
  </div> <!-- Fechamento do content -->
</div> <!-- Fechamento do wrapper -->

 


