<p style="color: green"><%= notice %></p>

<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li class="active">
            <h1><i class="fas fa-archive"></i> Meu Inventário</h1>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12"> <!-- Linha ocupa toda a largura -->
      <div class="right_col mt-3" role="main">
        <div class="row">
          <% @keylockers.each do |keylocker| %>
            <% keylocker.keylockerinfos.each do |info| %>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3"> <!-- 4 cards por linha -->
                <div class="card mb-4">
                  <div class="text-center">
                    <% if info.image.attached? %>
                      <%= image_tag info.image, size: '288x288', class: "img-fluid rounded" %>
                    <% else %>
                      <%= image_tag 'img-indisponivel.jpg', size: '288x288', class: "img-fluid rounded" %>
                    <% end %>
                  </div>
                  <div class="card-body">
                    <h3 class="mb-0">
                      <i class="fa fa-cube"></i>
                      <%= info.object %>
                    </h3>

                    <div class="text-center mt-3">
                      <h4>
                        <span class="badge <%= info.empty == 1 ? 'badge-success' : 'badge-danger' %>">
                          <%= info.empty == 1 ? 'Presente' : 'Ausente' %>
                        </span>
                      </h4>
                    </div>

                    <p><strong>Posição:</strong> <%= info.posicion || "Sem posição" %></p>
                    <p><strong>Tag RFID:</strong> <%= info.tagRFID ? info.tagRFID.slice(0, 6) : 'Não disponível' %></p>
                    <p><strong>ID Interno:</strong> <%= info.idInterno || 'Não disponível' %></p>
                    <p><strong>Descrição:</strong> <%= info.description || 'Não disponível' %></p>
                
                    <div class="text-center mt-3 d-flex justify-content-center">
                      <%= link_to keylockerinfo_path(info), class: 'btn btn-warning mr-3' do %>
                        <i class="fa fa-search"></i> Exibir
                      <% end %>
                      
                      <%= link_to edit_keylockerinfo_path(info), class: 'btn btn-success mr-3' do %>
                        <i class="fa fa-edit"></i> Editar
                      <% end %>

                      <%= button_to keylockerinfo_path(info), method: :delete, data: { confirm: "Você tem certeza que deseja excluir?" }, class: "btn btn-danger" do %>
                        <i class="fas fa-trash-alt"></i> Excluir
                      <% end %>

                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Paginação Responsiva -->
<div class="text-center mt-3 d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <%= will_paginate @keylockers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </ul>
  </nav>
</div>
