<p style="color: green"><%= notice %></p>

<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li class="active">
            <h1><i class="fas fa-archive"></i> Meu Inventário</h1>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Coluna da imagem (Responsiva) -->
    <div class="col-12 col-md-3 mb-3"> <!-- 12 colunas em telas pequenas, 3 colunas em telas médias ou maiores -->
      <% if @info.image.attached? %>
        <div>
          <%= image_tag @info.image, class: "img-fluid rounded" %>
        </div>
      <% else %>
        <%= image_tag 'img-indisponivel.jpg', size: '288x288', class: "img-fluid rounded" %>
      <% end %>
    </div>

    <!-- Coluna dos detalhes (Responsiva) -->
    <div class="col-12 col-md-9 mb-3"> <!-- 12 colunas em telas pequenas, 9 colunas em telas médias ou maiores -->
      <div class="card p-4 mb-4">
        <h3>Detalhes do Objeto</h3>
        <p><strong>Objeto:</strong> <%= @info.object %></p>
        <p><strong>Posição:</strong> <%= @info.posicion || "Sem posição" %></p>
        <p><strong>Tag RFID:</strong> <%= @info.tagRFID ? @info.tagRFID.slice(0, @keylocker.qtdDigito) : 'Não disponível' %></p>
        <p><strong>ID Interno:</strong> <%= @info.idInterno || 'Não disponível' %></p>
        <p><strong>Descrição:</strong> <%= @info.description || 'Não disponível' %></p>
        <p><strong>Status:</strong> <%= @info.empty == 1 ? 'Presente' : 'Ausente' %></p>
      </div>
    </div>
  </div>
</div>
