<h1>Keylockerinfos#show</h1>
<p>Find me in app/views/keylockerinfos/show.html.erb</p>


<h3>Detalhes do Nicho</h3>

<div class="card">
  <div class="card-header">
    <h5 class="mb-0"><%= @info.object %></h5>
  </div>
  <div class="card-body">
    <p><strong>Posição:</strong> <%= @info.posicion || "Sem posição" %></p>
    <p><strong>Tag RFID:</strong> <%= @info.tagRFID || 'Não disponível' %></p>
    <p><strong>ID Interno:</strong> <%= @info.idInterno || 'Não disponível' %></p>
    <p><strong>Descrição:</strong> <%= @info.description || 'Não disponível' %></p>
    <p><strong>Status:</strong> <%= @info.empty == 1 ? 'Presente' : 'Ausente' %></p>
    <% if @info.image.attached? %>
      <div>
        <strong>Imagem:</strong>
        <%= image_tag @info.image %>
      </div>
    <% else %>
      <p><strong>Imagem:</strong> Nenhuma imagem disponível.</p>
    <% end %>

    <%= link_to 'Voltar', keylockerinfos_path, class: 'btn btn-secondary mt-3' %>
  </div>
</div>

