<p style="color: green"><%= notice %></p>

<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li class="active">
            <h1><i class="fas fa-list"></i> Minhas Categorias</h1>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Coluna da imagem -->
    <div class="col-md-3">
      <%= image_tag 'categoria.png', size: '288x288', class: "img-fluid rounded" %>
    </div>
    

   <!-- Coluna dos detalhes -->
    <div class="col-md-9">
      <div class="card p-4 mb-4 shadow-sm">
        <h3 class="mb-3"><i class="fas fa-info-circle"></i> Detalhes da Categoria</h3>
        
        <ul class="list-group list-group-flush">

          <!-- Nome -->
          <li class="list-group-item">
            <i class="fas fa-tags text-primary me-2"></i>
            <strong>Nome:</strong> <%= @category.name %>
          </li>

          <!-- Tag RFID -->
          <li class="list-group-item">
            <i class="fas fa-align-left text-muted me-2"></i>
            <strong>Descrição:</strong> <%= @category.description %>
          </li>
          
          <!-- Data de Criação -->
          <li class="list-group-item">
            <i class="fas fa-calendar-plus text-info me-2"></i>
            <strong>Criado em:</strong> <%= @category.created_at.strftime("%d/%m/%Y %H:%M") %>
          </li>

          <!-- Última Edição -->
          <li class="list-group-item">
            <i class="fas fa-edit text-warning me-2"></i>
            <strong>Editado em:</strong> <%= @category.updated_at.strftime("%d/%m/%Y %H:%M") %>
          </li>
         
        </ul>
      </div>
    </div>

      <!-- Botões de ações -->
      <div class="d-flex gap-2 mb-4">
        <%= link_to edit_asset_management_category_path(@category.asset_management, @category), class: 'btn btn-primary' do %>
          <i class="fas fa-edit"></i> Editar Categoria
        <% end %>

        <%= button_to @category, method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-danger" do %>
          <i class="fas fa-trash-alt"></i> Excluir
        <% end %>

        <%= link_to asset_management_path(current_user.asset_managements.first), class: "btn btn-secondary" do %>
          <i class="fas fa-arrow-left"></i> Voltar
        <% end %>
      </div>
    </div>
  </div>
</div>




