<div id="<%= dom_id product %>">
  <p>
    <strong>Package description:</strong>
    <%= product.package_description %>
  </p>

  <p>
    <strong>Locker code:</strong>
    <%= product.locker_code %>
  </p>

  <p>
    <strong>Pin:</strong>
    <%= product.pin %>
  </p>

  <p>
    <strong>Full address:</strong>
    <%= product.full_address %>
  </p>

  <p>
    <strong>Imageentregador:</strong>
    <%= product.imageEntregador %>
  </p>

  <p>
    <strong>Imageinvoice:</strong>
    <%= product.imageInvoice %>
  </p>

  <p>
    <strong>Imageproduct:</strong>
    <%= product.imageProduct %>
  </p>

</div>
