<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= location.code %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= location.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= location.description %>
  </p>

  <p>
    <strong>Asset management:</strong>
    <%= location.asset_management_id %>
  </p>

</div>