<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb">
          <li class="active">
            <h1><i class="fas fa-map-marker-alt"></i> Minhas Localidades</h1>
          </li>
        </ol>
      </div>
    </div>
</div>


<%= form_with(model: [@asset_management, @location]) do |form| %>
  <% if @location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% @location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="card shadow-sm">
        <div class="card-header py-3">
          <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Editar uma localidade</h5>
        </div>
        <div class="card-body">

          <!-- Nome da Localização -->
          <div class="form-outline mb-4">
            <%= form.label :name, 'Nome da Localização', class: "form-label" %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>

          <!-- Código da localidade -->
          <div class="form-outline mb-4">
            <%= form.label :code, 'Código da localidade', class: "form-label" %>
            <%= form.text_field :code, class: 'form-control' %>
          </div>

          <!-- Endereço -->
          <div class="form-outline mb-4">
            <%= form.label :address, 'Endereço', class: "form-label" %>
            <%= form.text_field :address, class: 'form-control' %>
          </div>

          <!-- Descrição -->
          <div class="form-outline mb-4">
            <%= form.label :description, 'Descrição', class: "form-label" %>
            <%= form.text_field :description, class: 'form-control' %>
          </div>


          <!-- asset management id -->
          <div class="form-outline mb-4">
            <%= form.label :asset_management_id, 'ID Interno', class: "form-label" %>
            <%= form.text_field :asset_management_id, class: 'form-control' %>
          </div>
        
          <!-- Botões -->
          <div class="d-flex justify-content-between mt-4">
            <%= form.submit 'Editar Localidade', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
