<p style="color: green"><%= notice %></p>

<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb">
          <li class="active">
            <h1><i class="fas fa-map-marker-alt"></i> Minhas Localizações</h1>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= link_to new_asset_management_location_path, class: "btn btn-primary mt-3 mb-3" do %>
          <i class="fa fa-plus"></i> Cadastrar Localização
        <% end %>
        </div>
      </div>
    </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-12"> <!-- Linha ocupa toda a largura -->
      <div class="right_col mt-3" role="main">
        <div class="row">
          <% @locations.each do |location| %>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3"> <!-- 4 cards por linha -->
                <div class="card mb-4">
                  <div class="text-center">
                    <%= image_tag 'gps1.jpg', size: '288x288', class: "img-fluid rounded" %>
                  </div>
                  <div class="card-body">
                   <p><i class="fas fa-map-marker-alt text-danger me-2"></i>
                    <strong>Nome:</strong> <%= location.name || "Sem nome" %>
                  </p>

                  <p><i class="fas fa-barcode text-primary me-2"></i>
                    <strong>Código de Localidade:</strong> <%= location.code || "Sem código" %>
                  </p>

                  <p><i class="fas fa-align-left text-muted me-2"></i>
                    <strong>Descrição:</strong> <%= location.description || "Sem descrição" %>
                  </p>

                  <p><i class="fas fa-road text-success me-2"></i>
                    <strong>Endereço:</strong> <%= location.address || "Sem endereço" %>
                  </p>
                    <div class="text-center mt-3 d-flex justify-content-center">
                      <%= link_to asset_management_location_path(location.asset_management, location), class: 'btn btn-warning mr-3' do %>
                        <i class="fa fa-search"></i> Exibir
                      <% end %>

                      <%= link_to edit_asset_management_location_path(location.asset_management, location), class: 'btn btn-success mr-3' do %>
                        <i class="fa fa-edit"></i> Editar
                      <% end %>

                      <%= button_to asset_management_location_path(location.asset_management, location), method: :delete, data: { confirm: "Você tem certeza que deseja excluir?" }, class: "btn btn-danger" do %>
                        <i class="fas fa-trash-alt"></i> Excluir
                      <% end %>

                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Paginação Responsiva -->
<div class="text-center mt-3 d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <%= will_paginate @categories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </ul>
  </nav>
</div>
