
<%= form_with(model: @keylocker, local: false, html: { multipart: true, id: 'keylocker-form' }) do |form| %>
  <% if keylocker.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(keylocker.errors.count, "erro") %> impediram o cadastro do locker:</h4>
      <ul>
        <% keylocker.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Cadastrar um novo locker</h5>
        </div>
        <div class="card-body">
          <!-- Text input para Proprietário do Locker -->
          <div class="form-outline mb-4">
            <%= form.label :owner, 'Proprietário do Locker', class: "form-label" %>
            <%= form.text_field :owner, id: 'form7Example1', class: 'form-control' %>
          </div>

          <!-- Text input para Tipo de Armário -->
          <div class="form-outline mb-4">
            <%= form.label :lockertype, "Tipo de Armário", class: "form-label" %>
            <%= form.select :lockertype, ['Armário de chaves', 'Armário de encomendas', 'Guarda Volume'], prompt: "Selecione o tipo de armário", id: 'form7Example2', class: 'form-control' %>
          </div>

          <!-- Text input para Nome do Locker -->
          <div class="form-outline mb-4">
            <%= form.label :nameDevice, 'Nome do Locker', class: "form-label" %>
            <%= form.text_field :nameDevice, id: 'form7Example2', class: 'form-control' %>
          </div>

          <!-- Text input para CNPJ ou CPF -->
          <div class="form-outline mb-4">
            <%= form.label :cnpjCpf, 'CNPJ ou CPF', class: "form-label" %>
            <%= form.text_field :cnpjCpf, id: 'form7Example3', class: 'form-control' %>
          </div>

           <!-- Text input para quantidade de nichos -->
          <div class="form-outline mb-4">
            <%= form.label :qtd, 'Quantidade Total de Nichos', class: "form-label" %>
            <%= form.text_field :qtd, id: 'form7Example3', class: 'form-control' %>
          </div>

          <!-- Campos Dinâmicos para Nichos -->
          <div class="form-outline mb-4">
            <%= form.label :niches, 'Posições (Nichos)', class: "form-label" %>
            <div id="keylockerinfos-container"></div>

            <% unless current_user.admin? %>
              <button type="button" class="btn btn-secondary mt-2" onclick="addNiche()">+ Adicionar posição</button>
            <% end %>
          </div>
          
          <!-- Placeholder para Nested Attributes de Keylockerinfos -->
          <div id="keylockerinfos-container"></div>

          <!-- Botões de Ação -->
          <div class="d-flex">
            <div class="form-group mr-2">
              <%= form.submit 'Cadastrar Locker', class: 'btn btn-primary' %>
            </div>
            <div class="form-group">
              <%= link_to "Voltar", keylockers_path, class: 'btn btn-success' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
let nicheIndex = 0;

document.addEventListener("DOMContentLoaded", function() {
  const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
  window.csrfToken = csrfToken;  // Armazena o token CSRF globalmente
})

function addNiche() {
  const container = document.getElementById('keylockerinfos-container');

  const nicheField = document.createElement('div');
  nicheField.className = 'nested-fields mb-3 border rounded p-2 position-relative';
  nicheField.setAttribute('data-index', nicheIndex);

  nicheField.innerHTML = `
    <div class="form-group">
      <label>Posição: <span class="position-number">${nicheIndex + 1}</span></label>
      <input type="hidden" name="keylocker[keylockerinfos_attributes][${nicheIndex}][posicion]" value="${nicheIndex + 1}" />
      <input type="text" name="keylocker[keylockerinfos_attributes][${nicheIndex}][object]" class="form-control" placeholder="Descrição da Posição">
    </div>

    <!-- Novo campo para tagRFID -->
    <div class="form-group">
      <label>Tag RFID:</label>
      <input type="text" name="keylocker[keylockerinfos_attributes][${nicheIndex}][tagRFID]" class="form-control" placeholder="Tag RFID">
    </div>

    <!-- Novo campo para idInterno -->
    <div class="form-group">
      <label>ID Interno:</label>
      <input type="text" name="keylocker[keylockerinfos_attributes][${nicheIndex}][idInterno]" class="form-control" placeholder="ID Interno">
    </div>

    <!-- Novo campo para descrição -->
    <div class="form-group">
      <label>Descrição:</label>
      <input type="text" name="keylocker[keylockerinfos_attributes][${nicheIndex}][description]" class="form-control" placeholder="Descrição">
    </div>

    <!-- Novo campo para imagem -->
    <div class="form-group">
      <label>Imagem:</label>
      <input type="file" name="keylocker[keylockerinfos_attributes][${nicheIndex}][image]" class="form-control">
    </div>

    <button type="button" class="btn btn-danger btn-sm position-absolute" style="top: 5px; right: 5px;" onclick="removeNiche(this)">
      <i class="fas fa-times"></i>
    </button>
  `;

  container.appendChild(nicheField);
  nicheIndex++;
  updatePositions();
}

function removeNiche(button) {
  const nicheField = button.closest('.nested-fields');
  nicheField.remove();
  updatePositions();
}

function updatePositions() {
  const container = document.getElementById('keylockerinfos-container');
  const fields = container.querySelectorAll('.nested-fields');

  fields.forEach((field, index) => {
    field.querySelector('.position-number').innerText = index + 1;
    field.querySelector('input[type="hidden"]').value = index + 1;

    // Atualiza os name attributes
    const objectInput = field.querySelector('input[name*="[object]"]');
    objectInput.name = `keylocker[keylockerinfos_attributes][${index}][object]`;

    const hiddenInput = field.querySelector('input[type="hidden"]');
    hiddenInput.name = `keylocker[keylockerinfos_attributes][${index}][posicion]`;

    // Atualiza os name attributes para os novos campos
    const tagRFIDInput = field.querySelector('input[name*="[tagRFID]"]');
    tagRFIDInput.name = `keylocker[keylockerinfos_attributes][${index}][tagRFID]`;

    const idInternoInput = field.querySelector('input[name*="[idInterno]"]');
    idInternoInput.name = `keylocker[keylockerinfos_attributes][${index}][idInterno]`;

    const descriptionInput = field.querySelector('input[name*="[description]"]');
    descriptionInput.name = `keylocker[keylockerinfos_attributes][${index}][description]`;

    const imageInput = field.querySelector('input[name*="[image]"]');
    imageInput.name = `keylocker[keylockerinfos_attributes][${index}][image]`;
  });

  nicheIndex = fields.length;
}
</script>