<div id="<%= dom_id keylocker %>">
 <p>
    <strong>Tipo do Locker:</strong>
    <%= keylocker.lockertype %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= keylocker.owner %>
  </p>

  <p>
    <strong>Namedevice:</strong>
    <%= keylocker.nameDevice %>
  </p>

  <p>
    <strong>CNPJ ou CPF:</strong>
    <%= keylocker.cnpjCpf %>
  </p>

  <p>
    <strong>Quantidade de Nicho:</strong>
    <%= keylocker.qtd %>
  </p>

  <p>
    <strong>Serial:</strong>
    <%= keylocker.serial %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= keylocker.status %>
  </p>
</div>
