<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li class="active">
            <h1><i class="fas fa-box"></i> Meus Lockers</h1>
          </li>
        </ol>
      </div>
    </div>

    <%= form_with(model: @keylocker, local: true) do |form| %>
      <% if @keylocker.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(@keylocker.errors.count, "erro") %> impediram o cadastro do locker:</h4>
          <ul>
            <% @keylocker.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Editar Locker</h5>
            </div>
            <div class="card-body">
              <!-- Proprietário -->
              <div class="form-outline mb-4">
                <%= form.label :owner, 'Proprietário do Locker', class: "form-label" %>
                <%= form.text_field :owner, class: 'form-control' %>
              </div>

              <!-- Tipo de Armário -->
              <div class="form-outline mb-4">
                <%= form.label :lockertype, "Tipo de Armário", class: "form-label" %>
                <%= form.select :lockertype, ['Armário de chaves', 'Armário de encomendas', 'Guarda Volume'], prompt: "Selecione o tipo de armário", class: 'form-control' %>
              </div>

              <!-- Nome do Locker -->
              <div class="form-outline mb-4">
                <%= form.label :nameDevice, 'Nome do Locker', class: "form-label" %>
                <%= form.text_field :nameDevice, class: 'form-control' %>
              </div>

              <!-- CNPJ ou CPF -->
              <div class="form-outline mb-4">
                <%= form.label :cnpjCpf, 'CNPJ ou CPF', class: "form-label" %>
                <%= form.text_field :cnpjCpf, class: 'form-control' %>
              </div>

              <!-- Campos Dinâmicos - Keylocker Infos -->
              <div id="keylockerinfos-container">
                <% @keylocker.keylockerinfos.each_with_index do |info, index| %>
                  <div class="nested-fields mb-3 border rounded p-2 position-relative" data-index="<%= index %>">
                    <%= hidden_field_tag "keylocker[keylockerinfos_attributes][#{index}][id]", info.id %>
                    <%= hidden_field_tag "keylocker[keylockerinfos_attributes][#{index}][_destroy]", '0' %>

                    <div class="form-group">
                      <label>Posição: <span class="position-number"><%= index + 1 %></span></label>
                      <%= hidden_field_tag "keylocker[keylockerinfos_attributes][#{index}][posicion]", index + 1 %>
                      <%= text_field_tag "keylocker[keylockerinfos_attributes][#{index}][object]", info.object, class: "form-control", placeholder: "Descrição da Posição" %>
                    </div>

                    <!-- Tag RFID -->
                    <div class="form-group">
                      <label>Tag RFID:</label>
                      <%= text_field_tag "keylocker[keylockerinfos_attributes][#{index}][tagRFID]", info.tagRFID, class: "form-control", placeholder: "Tag RFID" %>
                    </div>

                    <!-- ID Interno -->
                    <div class="form-group">
                      <label>ID Interno:</label>
                      <%= text_field_tag "keylocker[keylockerinfos_attributes][#{index}][idInterno]", info.idInterno, class: "form-control", placeholder: "ID Interno" %>
                    </div>

                    <!-- Descrição -->
                    <div class="form-group">
                      <label>Descrição:</label>
                      <%= text_field_tag "keylocker[keylockerinfos_attributes][#{index}][description]", info.description, class: "form-control", placeholder: "Descrição" %>
                    </div>

                    <!-- Imagem -->
                    <div class="form-group">
                      <label>Imagem:</label>
                      <%= file_field_tag "keylocker[keylockerinfos_attributes][#{index}][image]", class: "form-control" %>
                    </div>
                    <!-- Botão de Remoção -->
                    <%= button_to 'Excluir', keylockerinfo_path(info.id) + "?keylocker_id=#{@keylocker.id}", method: :delete, data: { confirm: 'Você tem certeza que deseja excluir?' }, class: 'btn btn-danger btn-sm position-absolute', style: 'top: 5px; right: 5px;' %>
                  </div>
                <% end %>
              </div>

              <button type="button" class="btn btn-secondary mt-2" onclick="addNiche()">+ Adicionar posição</button>

              <!-- Botões -->
              <div class="d-flex mt-3">
                <%= form.submit 'Salvar Alterações', class: 'btn btn-primary mr-2' %>
                <%= link_to "Voltar", keylockers_path, class: 'btn btn-success' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function addNiche() {
    const container = document.getElementById('keylockerinfos-container');
    const newIndex = container.children.length;

    const newField = `
      <div class="nested-fields mb-3 border rounded p-2 position-relative" data-index="${newIndex}">
        <input type="hidden" name="keylocker[keylockerinfos_attributes][${newIndex}][id]" value="">
        <input type="hidden" name="keylocker[keylockerinfos_attributes][${newIndex}][_destroy]" value="0"> <!-- Campo _destroy -->

        <div class="form-group">
          <label>Posição: <span class="position-number">${newIndex + 1}</span></label>
          <input type="hidden" name="keylocker[keylockerinfos_attributes][${newIndex}][posicion]" value="${newIndex + 1}">
          <input type="text" name="keylocker[keylockerinfos_attributes][${newIndex}][object]" class="form-control" placeholder="Descrição da Posição">
        </div>

        <div class="form-group">
          <label>Tag RFID:</label>
          <input type="text" name="keylocker[keylockerinfos_attributes][${newIndex}][tagRFID]" class="form-control" placeholder="Tag RFID">
        </div>

        <div class="form-group">
          <label>ID Interno:</label>
          <input type="text" name="keylocker[keylockerinfos_attributes][${newIndex}][idInterno]" class="form-control" placeholder="ID Interno">
        </div>

        <div class="form-group">
          <label>Descrição:</label>
          <input type="text" name="keylocker[keylockerinfos_attributes][${newIndex}][description]" class="form-control" placeholder="Descrição">
        </div>

        <div class="form-group">
          <label>Imagem:</label>
          <input type="file" name="keylocker[keylockerinfos_attributes][${newIndex}][image]" class="form-control">
        </div>

        <button type="button" class="btn btn-danger btn-sm position-absolute" style="top: 5px; right: 5px;" onclick="removeNiche(this)">
          <i class="fas fa-times"></i>
        </button>
      </div>`;

    container.insertAdjacentHTML('beforeend', newField);
  }

  function removeNiche(button) {
    button.closest('.nested-fields').remove();
  }
</script>
