<style>
  .btn-custom-orange {
    background-color: #ff6600 !important;
    border-color: #ff6600 !important;
    color: #fff !important;
  }

  .btn-custom-orange:hover {
    background-color: #e65c00 !important;
    border-color: #e65c00 !important;
  }
</style>

<% if @keylocker.status == 'desbloqueado' %>
  <span class="badge bg-success">
    <i class="fas fa-unlock"></i> Desbloqueado
  </span>
  <p class="alert alert-success"><%= notice %></p>
<% elsif @keylocker.status == 'bloqueado' %>
  <span class="badge bg-danger">
    <i class="fas fa-lock"></i> Bloqueado
  </span>
  <p class="alert alert-danger"><%= notice %></p>
<% else %>
  <span class="badge bg-secondary">Indefinido</span>
  <p class="alert alert-warning"><%= notice %></p>
<% end %>

<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <ol class="breadcrumb">
          <li class="active">
            <h1><i class="fas fa-box"></i> Meus Lockers</h1>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Coluna da imagem -->
    <div class="col-md-3">
      <% if @keylocker.lockertype == 'Guarda Volume' %>
        <%= image_tag 'armario-volume.jpg', class: 'card-img-top', alt: 'Guarda Volume' %>
      <% elsif @keylocker.lockertype == 'Armário de Encomendas' %>
        <%= image_tag 'armario-encomenda.jpg', class: 'card-img-top', alt: 'Armário de Encomendas' %>
      <% elsif @keylocker.lockertype == 'Armário de Chaves' %>
        <%= image_tag 'locker.jpg', class: 'card-img-top', alt: 'Armário de Chaves' %>
      <% else %>
        <%= image_tag 'locker.jpg', class: 'card-img-top', alt: 'Locker Padrão' %>
      <% end %>
    </div>

    <!-- Coluna dos detalhes -->
    <div class="col-md-9">
      <div class="card p-4 mb-4">
        <h3>Detalhes do Locker</h3>
        <% @users.each do |user| %> <!-- Itera sobre os usuários associados -->
          <p><strong>Adm do Locker:</strong> <%= user.name %> <%= user.lastname %></p>
          <p><strong>Email do Adm:</strong> <%= user.email %></p>
        <% end %>
        <p><strong>Tipo do locker:</strong> <%= @keylocker.lockertype %></p>
        <p><strong>Nome do dispositivo:</strong> <%= @keylocker.nameDevice %></p>
        <p><strong>Proprietário do locker:</strong> <%= @keylocker.owner %></p>
        <p><strong>CNPJ ou CPF:</strong> <%= @keylocker.cnpjCpf %></p>
        <p><strong>Total de nichos:</strong> <%= @keylocker.qtd %></p>
        <p><strong>Serial do locker:</strong> <%= @keylocker.serial %></p>
        <p>
          <strong>Status:</strong>
          <button class="btn <%= @keylocker.status == 'bloqueado' ? 'btn-danger' : 'btn-success' %>">
            <i class="fas <%= @keylocker.status == 'bloqueado' ? 'fa-lock' : 'fa-unlock' %>"></i>
            <%= @keylocker.status%>
          </button>
        </p>
      </div>

      <!-- Botões de ações -->
      <div class="d-flex gap-2 mb-4">
        <%= link_to edit_keylocker_path(@keylocker), class: "btn btn-primary" do %>
          <i class="fas fa-edit"></i> Cadastrar Objetos
        <% end %>
      
        <%= link_to keylockers_path, class: "btn btn-secondary" do %>
          <i class="fas fa-arrow-left"></i> Voltar
        <% end %>
      
        <%= button_to @keylocker, method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-danger" do %>
          <i class="fas fa-trash-alt"></i> Excluir
        <% end %>

          <% if @keylocker.lockertype == "Armário de chaves" %>
          <%= form_with url: api_v1_toggle_door_path, method: :post, class: "d-grid" do %>
            <button type="submit" class="btn <%= @keylocker.door == 'fechado' ? 'btn-custom-orange' : 'btn-success' %>">
              <i class="fa <%= @keylocker.door == 'fechado' ? 'fa-door-closed' : 'fa-door-open' %>"></i>
              <%= @keylocker.door == 'fechado' ? 'Abrir Porta' : 'Fechar Porta' %>
            </button>
          <% end %>
            
          <% elsif @keylocker.lockertype == "Armário de encomendas" %>
          <%= link_to generate_qr_keylocker_path(@keylocker), target: '_blank', class: 'btn btn-success' do %>
            <i class="fa fa-qrcode"></i> Gerar QR Code Delivery
          <% end %>

          <!-- Botão para abrir/fechar porta -->
          <%= form_with url: api_v1_toggle_door_path, method: :post, class: "d-grid" do %>
            <button type="submit" class="btn <%= @keylocker.door == 'fechado' ? 'btn-custom-orange' : 'btn-success' %>">
              <i class="fa <%= @keylocker.door == 'fechado' ? 'fa-door-closed' : 'fa-door-open' %>"></i>
              <%= @keylocker.door == 'fechado' ? 'Abrir Porta' : 'Fechar Porta' %>
            </button>
          <% end %>
            
          <% elsif @keylocker.lockertype == "Guarda Volume" %>
          <%= link_to generate_qr_delivery_keylocker_path(@keylocker), target: '_blank', class: 'btn btn-warning' do %>
            <i class="fa fa-qrcode"></i> Gerar QR Code Luggage
          <% end %>
          <!-- Botão para abrir/fechar porta -->
          <%= form_with url: api_v1_toggle_door_path, method: :post, class: "d-grid" do %>
            <button type="submit" class="btn <%= @keylocker.door == 'fechado' ? 'btn-custom-orange' : 'btn-success' %>">
              <i class="fa <%= @keylocker.door == 'fechado' ? 'fa-door-closed' : 'fa-door-open' %>"></i>
              <%= @keylocker.door == 'fechado' ? 'Abrir Porta' : 'Fechar Porta' %>
            </button>
          <% end %>
        <% end %>
      </div>

      <!-- Detalhes dos nichos -->
      <h3 class="mb-4">Detalhes dos Nichos</h3>
      <turbo-frame id="keylockerinfos_table" src="<%= keylockerinfos_reload_keylocker_path(@keylocker) %>">
      <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Objeto</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @keylocker.keylockerinfos.each_with_index do |info, index| %>
                <tr>
                  <td><strong><%= info.posicion || "Sem posição" %></strong></td>
                  <td><%= info.object.presence || "Nenhum objeto" %></td>
                  <td>
                    <span class="badge <%= info.empty == 1 ? 'badge-success' : 'badge-danger'%>">
                      <%= info.empty == 1 ? 'Presente' : 'Ausente' %>
                    </span>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </turbo-frame>
    </div>
  </div>
</div>

<script>
  function loadKeylockerinfos() {
    $.ajax({
      url: "<%= keylockerinfos_reload_keylocker_path(@keylocker) %>",
      dataType: "html",
      success: function(data) {
        $("#keylockerinfos_table").html(data);
      }
    });
  }

  // Atualiza a tabela a cada 5 segundos
  setInterval(loadKeylockerinfos, 5000);
</script>